{% extends "base/main/layout/layout.html" %}
{% load i18n %}
{% load static %}

{% block site_title %}
Home
{% endblock %}



{% block content %}


        <!-- Top News Start-->
        <div class="top-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 tn-left">
                        <div class="row tn-slider">
                            {%for category,articles in all_articles.items%}
                            {% for article in articles|slice:':1' %}
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img style="height: 343.625px; width: 540px;" src="/media/{{ article.image }}" /> 

                                    <div class="tn-title">
                                        <a href="{% url 'articles:details' cate_title=article.category.title  title=article.title  %}">{{article.title}}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endfor %}
                            
                        </div>
                    </div>
                    <div class="col-md-6 tn-right">
                        <div class="row">
                            {%for category,articles in all_articles.items%}
                            {% for article in articles|slice:':1' %}  
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img style="height: 172.025px ; width: 270px;" src="/media/{{ article.image }}" />
                                    <div class="tn-title">
                                        <a href="{% url 'articles:details' cate_title=article.category.title  title=article.title  %}">{{article.title}}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endfor %}
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top News End-->

        <!-- Category News Start-->
        <div class="cat-news">
            <div class="container">
                <div class="row">
                    {% for category in all_category%}
                    {%for cate ,articles in all_articles.items%}
                    {% if cate.title == category.title %}
                    <div class="col-md-6">
                        <a href="{% url 'articles:category_results' title=cate.title  %}">
                        <h2 >{{category.title}}</h2>
                    </a>
                        <div class="row cn-slider">
                        {% for article in articles|slice:'2:' %}
                      
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img style="height: 162.462px; width: 255px;" src="/media/{{ article.image }}" />
                                    <div class="cn-title">
                                        <a href="{% url 'articles:details' cate_title=cate.title  title=article.title  %}">{{article.title}}</a>
                                    </div>
                                </div>
                            </div>
                           

                            {%endfor%}
                            {%endif%}
                            {%endfor%}

                            {%for cate ,articles in all_articles.items%}
                            {% if cate.title == category.title %}
                            {% for article in articles|slice:':2' %}
                      
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img style="height: 162.462px; width: 255px;" src="/media/{{ article.image }}" />
                                    <div class="cn-title">
                                        <a href="{% url 'articles:details' cate_title=cate.title  title=article.title  %}">{{article.title}}</a>
                                    </div>
                                </div>
                            </div>
                           

                            {%endfor%}
                            {%endif%}
                            {%endfor%}

                        </div>
                    </div>
                    {%endfor%} 
                </div>
            </div>
        </div>



        <!-- Category News End-->

              
        
 
      
        <!-- Tab News Start-->
        <div class="tab-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#featured">Featured News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#popular">Popular News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#latest">Latest News</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="featured" class="container tab-pane active">
                                {% for article in featured %}
                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="/media/{{ article.image }}" />
                                    </div>
                                    <div class="tn-title">
                                        <a href="{% url 'articles:details' cate_title=article.category.title  title=article.title  %}">{{article.title}}</a>
                                        <small><i class="fa fa-eye"></i> {{article.views}}</small>
                                        {% if user in article.favorites.all %}
                                        <a class="btn-wishlist btn-sm"
                                            href="{% url 'articles:favourite_article' article.title %}" data-toggle="tooltip"
                                            data-placement="left" data-original-title="Remove from favorite">
                                            <i class="fa fa-heart"></i></a>
                                        {% else %}
                                        <a class="btn-wishlist btn-sm"
                                            href="{% url 'articles:favourite_article' article.title %}" data-toggle="tooltip"
                                            data-placement="left" data-original-title="Add to favorite"> 
                                            <i class="fas fa-heart-broken"></i></a>
                                        {% endif %}
                                    
                                    </div>
                                </div>
                                {%endfor%}
                             
                            </div>
                            
                            <div id="popular" class="container tab-pane fade">
                                {% for article in most_viewed %}
                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="/media/{{ article.image }}" />
                                    </div>
                                    <div class="tn-title">
                                        <a href="{% url 'articles:details' cate_title=article.category.title  title=article.title  %}">{{article.title}}</a>
                                        
                                        <small><i class="fa fa-eye"></i> {{article.views}}</small>
                                        {% if user in article.favorites.all %}
                                        <a class="btn-wishlist btn-sm"
                                            href="{% url 'articles:favourite_article' article.title %}" data-toggle="tooltip"
                                            data-placement="left" data-original-title="Remove from favorite">
                                            <i class="fa fa-heart"></i></a>
                                        {% else %}
                                        <a class="btn-wishlist btn-sm"
                                            href="{% url 'articles:favourite_article' article.title %}" data-toggle="tooltip"
                                            data-placement="left" data-original-title="Add to favorite"> 
                                            <i class="fas fa-heart-broken"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                                {%endfor%}
                                
                            </div>
                            <div id="latest" class="container tab-pane fade">
                                {% for article in recent %}
                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="/media/{{ article.image }}" />
                                    </div>
                                    <div class="tn-title">
                                        <a href="{% url 'articles:details' cate_title=article.category.title  title=article.title  %}">{{article.title}}</a>
                                        <small><i class="fa fa-eye"></i> {{article.views}}</small>
                                        {% if user in article.favorites.all %}
                                        <a class="btn-wishlist btn-sm"
                                            href="{% url 'articles:favourite_article' article.title %}" data-toggle="tooltip"
                                            data-placement="left" data-original-title="Remove from favorite">
                                            <i class="fa fa-heart"></i></a>
                                        {% else %}
                                        <a class="btn-wishlist btn-sm"
                                            href="{% url 'articles:favourite_article' article.title %}" data-toggle="tooltip"
                                            data-placement="left" data-original-title="Add to favorite"> 
                                            <i class="fas fa-heart-broken"></i></a>
                                        {% endif %}
                                   
                                    </div>
                                </div>
                                {%endfor%}
                          
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#m-viewed">Most Viewed</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#m-read">Most Read</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#m-recent">Most Recent</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="m-viewed" class="container tab-pane active">
                                
                                {% for article in most_viewed %}
                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="/media/{{ article.image }}" />
                                    </div>
                                    <div class="tn-title">
                                       
                                        <a href="{% url 'articles:details' cate_title=article.category.title  title=article.title  %}">{{article.title}}</a>
                                        <small><i class="fa fa-eye"></i> {{article.views}}</small>
                                        {% if user in article.favorites.all %}
                                        <a class="btn-wishlist btn-sm"
                                            href="{% url 'articles:favourite_article' article.title %}" data-toggle="tooltip"
                                            data-placement="left" data-original-title="Remove from favorite">
                                            <i class="fa fa-heart"></i></a>
                                        {% else %}
                                        <a class="btn-wishlist btn-sm"
                                            href="{% url 'articles:favourite_article' article.title %}" data-toggle="tooltip"
                                            data-placement="left" data-original-title="Add to favorite"> 
                                            <i class="fas fa-heart-broken"></i></a>
                                        {% endif %}
                                   
                                    </div>
                                </div>
                                {%endfor%}
                              
                            </div>
                            
                            <div id="m-read" class="container tab-pane fade">

                                {% for article in most_recent %}
                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="/media/{{ article.image }}" />
                                    </div>
                                    <div class="tn-title">
                                        <a href="{% url 'articles:details' cate_title=article.category.title  title=article.title  %}">{{article.title}}</a>
                                        <small><i class="fa fa-eye"></i> {{article.views}}</small>
                                        {% if user in article.favorites.all %}
                                        <a class="btn-wishlist btn-sm"
                                            href="{% url 'articles:favourite_article' article.title %}" data-toggle="tooltip"
                                            data-placement="left" data-original-title="Remove from favorite">
                                            <i class="fa fa-heart"></i></a>
                                        {% else %}
                                        <a class="btn-wishlist btn-sm"
                                            href="{% url 'articles:favourite_article' article.title %}" data-toggle="tooltip"
                                            data-placement="left" data-original-title="Add to favorite"> 
                                            <i class="fas fa-heart-broken"></i></a>
                                        {% endif %}
                                   
                                    </div>
                                </div>
                                {%endfor%}
                               
                            </div>
                            <div id="m-recent" class="container tab-pane fade">
                              
                                {% for article in recent %}
                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="/media/{{ article.image }}" />
                                    </div>
                                    <div class="tn-title">
                                        <a href="{% url 'articles:details' cate_title=article.category.title  title=article.title  %}">{{article.title}}</a>
                                    
                                        <small><i class="fa fa-eye"></i> {{article.views}}</small>
                                        {% if user in article.favorites.all %}
                                        <a class="btn-wishlist btn-sm"
                                            href="{% url 'articles:favourite_article' article.title %}" data-toggle="tooltip"
                                            data-placement="left" data-original-title="Remove from favorite">
                                            <i class="fa fa-heart"></i></a>
                                        {% else %}
                                        <a class="btn-wishlist btn-sm"
                                            href="{% url 'articles:favourite_article' article.title %}" data-toggle="tooltip"
                                            data-placement="left" data-original-title="Add to favorite"> 
                                            <i class="fas fa-heart-broken"></i></a>
                                        {% endif %}
                                    
                                    </div>
                                </div>
                                {%endfor%}
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tab News Start-->

        <!-- Main News Start-->
        <div class="main-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">

                            {%for category,articles in all_articles.items%}
                            {% for article in articles|slice:':3' %}  
                            <div class="col-md-4">
                                <div class="mn-img">
                                    <img style="height: 162.462px; width: 255px;" src="/media/{{ article.image }}" />
                                    <div class="mn-title">
                                        <a href="{% url 'articles:details' cate_title=article.category.title  title=article.title  %}">{{article.title}}</a>
                                    </div>
                                </div>
                            </div>
                            
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>



                
                    <div class="col-lg-3">
                        <div class="mn-list">
                            <h2>Read More</h2>
                            <ul>
                                {%for category,articles in all_articles.items%}
                                {% for article in articles|slice:':2' %}  
                                <li><a href="{% url 'articles:details' cate_title=article.category.title  title=article.title  %}">{{article.title|truncatewords:3}}</a></li>
                                {%endfor%}
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main News End-->

{% endblock %}
