
{% extends "base/main/layout/layout.html" %}
{% load i18n %}
{% load static %}

{% block site_title %}
Category's blogs
{% endblock %}

{% block content %}



<style type="text/css">
    .topcornerright{
    position: relative;
    top:0px;
    left:1000px;

 
     }
   </style>

<style type="text/css">
#category_header:after {
    content: "";
    display: block;
    width: 900px;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    position: relative;
  }

</style>

  
<div class="col-md-6">
    <h2 id='category_header'>{{category_title}}</h2>
    <div class="row cn-slider slick-initialized slick-slider">
<!-- end meta -->
</div><!-- end blog-box -->
</div>



 


<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style = 'padding-right: 150px;'>





    <div class="page-wrapper">
     
        <div class="blog-list clearfix">
          
        {% for article in articles %}
            <div class="blog-box row">
                <div class="col-md-4">
                    
                    <div class="post-media">
                        <a href="" title="">
                            <img src="/media/{{ article.image }}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->
              
                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="" title="">{{article.title}}</a></h4>
                    <p>{{article.description|truncatewords:10 }}</p>
                    <small class="firstsmall"><a class="bg-black" href="" title="">{{category_title}}  </a></small>
                    <small><a href="tech-single.html" title="">  {{article.publish_date}}</a></small>
                    <small><a href="tech-author.html" title=""> {{article.author}}</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> {{articles.views}}</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">
        {%endfor%}
    </div>
    <hr class="invis">
    <div class="pagination">
        <span class="step-links">
            {% if articles.has_previous %}
                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page=1">&laquo; first</a>
                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ articles.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>
    
            {% if articles.has_next %}
                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ articles.next_page_number }}">next</a>
                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ articles.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>




</div>
<div class="topcornerright" >
    <div class="sidebar-widget" >
     
            
    {% include "components/left_slider.html" %}
      
       <!-- end sidebar -->
    </div>
    </div>



{% endblock %}
