<div class="col-lg-4">
    <div class="sidebar">
        <div class="sidebar-widget">
            {%if search%}
            <h2 class="sw-title">You may like</h2>
            {%else%}
            <h2 class="sw-title">In This Category</h2>
            {%endif%}
            <div class="news-list">
                {% for article in in_this_category %}
                <div class="nl-item">
                    <div class="nl-img">
                        <img src="/media/{{ article.image }}" />
                    </div>
                    <div class="nl-title">
                        <a href="{% url 'articles:details' cate_title=article.category.title  title=article.title  %}">{{ article.title }}</a>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
        
     
        <div class="sidebar-widget">
            <div class="tab-news">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#featured">Featured</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#popular">Popular</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#latest">Latest</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="featured" class="container tab-pane active">
                    {% for article in featured %}
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/media/{{ article.image }}" />
                            </div>
                            <div class="tn-title">
                                <a href="{% url 'articles:details' cate_title=article.category.title  title=article.title  %}">{{ article.title }}</a>
                            </div>
                        </div>
                        {%endfor %}
                    </div>


                    <div id="popular" class="container tab-pane fade">
                        {% for article in most_viewed%}
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/media/{{ article.image }}" />
                            </div>
                            <div class="tn-title">
                                <a href="{% url 'articles:details' cate_title=article.category.title  title=article.title  %}">{{article.title}}</a>
                            </div>
                        </div>
                       {%endfor%}
                    
                    </div>
                    <div id="latest" class="container tab-pane fade">
                        {% for article in recent%}
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/media/{{ article.image }}" />
                            </div>
                            <div class="tn-title">
                                <a href="{% url 'articles:details' cate_title=article.category.title  title=article.title  %}">{{article.title}}</a>
                            </div>
                        </div>
                       {%endfor%}
                        
                    </div>
                </div>
            </div>
        </div>
        
       

        <div class="sidebar-widget">
            <h2 class="sw-title">Category List</h2>
            <div class="category">
                {% for title,count in cate_list.items %}
               
                <ul> 
                    <li><a href="{% url 'articles:category_results' title=title  %}">{{title}}</a><span>{{count}}</span></li>
                   
                </ul>
                {%endfor%}
           
            </div>
        </div>

       
        
        <div class="sidebar-widget">
            <h2 class="sw-title">Tags Cloud</h2>
            <div class="tags">
                <a href="">National</a>
                <a href="">International</a>
                <a href="">Economics</a>
                <a href="">Politics</a>
                <a href="">Lifestyle</a>
                <a href="">Technology</a>
                <a href="">Trades</a>
            </div>
        </div>
    </div>
</div>
